include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pyproject.toml

# Include all Python files
recursive-include torchslim *.py

# Include examples
recursive-include examples *.py

# Include tests
recursive-include tests *.py

# Exclude compiled files
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store
global-exclude .git*
global-exclude *.egg-info/*